DATABASE_URL="mysql://root:@localhost:3306/shop"
SITE_URL=""

NUXT_SESSION_PASSWORD=""
NUXT_SOCKET_IO_HOST="0.0.0.0"
NUXT_SOCKET_IO_PORT="3031"
NUXT_PUBLIC_SOCKET_IO_PORT="3031"
NUXT_PUBLIC_SOCKET_IO_PATH="/socket.io"

